.a-banner-license {
  position: absolute;
  bottom: 5px;
  left: 0px;
  color: white;
}

.p-banner-welcome {
  position: relative;
  color: white;
  font-size: 36px;
}
.div-banner-welcome {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
}

.div-banner {
  height: 100%;
  position: relative;
  overflow: hidden;
}
